<<<<<<< HEAD
*{
  margin:0;
}
body::-webkit-scrollbar {
  display: none;
}
=======
body::-webkit-scrollbar{
  display: none;
}

* {
  margin: 0;
}

>>>>>>> 0892223 (new)
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD

=======
>>>>>>> 0892223 (new)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
